@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: url("https://img.freepik.com/free-vector/monochrome-watercolor-galaxy-background_23-2148830317.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1717545600&semt=ais_user");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
